/* usa este fichero para personalizar tus vistas */

.iwthumb {
    height: 32px;
    width: 32px;
}

.errTable tr>td:first-child {
    min-width: 200px;
    max-width: 200px;
    word-break: break-all;
    font-weight: bold;
    color: gray;
}

.errTable td {
    vertical-align: top;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
}

img.preview {
    object-fit: cover;
    width: 10%;
    height: 100px;
    border-radius: 10px;
}

/* MODIFICACIÓNES AQUÍ ABAJO */

h1 {
    font-size: 50px;
}

a {
    text-decoration: none;
    color: rgb(150,71,254);
    font-weight: bold;
}

a:hover {
    color: rgb(150,71,254);
}

a:visited {
    color: rgb(150,71,254);
}

.body-style {
    background-color: rgb(249, 243, 255);
}

.header-underline {
    width: 330px;
    height: 25px;
    border-radius: 7px;
    background-color: rgba(150,71,254, 0.2);
    position: relative;
    margin: 0 auto;
    transform: translate(0px, -33px);
    z-index: -1;
}

.cards {
    width: 600px;
    margin: 20px auto 0 auto;
}

.create, .play {
    height: 220px;
    font-size: larger;
    padding: 25px;
}

.create {
    margin-right: 4%;
    background-color: rgb(150,71,254);
    color: white;
    opacity: 1;
}

.play {
    background-color: rgba(150,71,254, 0.2);
}

.play button {
    background-color: white;
    color: rgb(150,71,254);
}

.create button {
    background-color: rgb(225, 202, 255);
    color: black;
}

.btn-home {
    border-radius: 10px;
    margin: 0 auto;
    width: 90px;
    height: 40px;
    line-height: 0px;
    border: 0px;
    font-weight: bold;
}

.no-account {
    padding: 25px;
}