/* usa este fichero para personalizar tus vistas */

.iwthumb {
    height: 32px;
    width: 32px;
}

.errTable tr>td:first-child {
    min-width: 200px;
    max-width: 200px;
    word-break: break-all;
    font-weight: bold;
    color: gray;
}

.errTable td {
    vertical-align: top;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
}

img.preview {
    object-fit: cover;
    width: 10%;
    height: 100px;
    border-radius: 10px;
}

/* MODIFICACIÓNES AQUÍ ABAJO */

h1 {
    font-size: 50px;
}

a {
    text-decoration: none;
    color: rgb(150,71,254);
    font-weight: bold;
}

a:hover {
    color: rgb(150,71,254);
}

a:visited {
    color: rgb(150,71,254);
}

.body-style {
    background-color: rgb(249, 243, 255);
}

.header-underline {
    width: 330px;
    height: 25px;
    border-radius: 7px;
    background-color: rgba(150,71,254, 0.2);
    position: relative;
    margin: 0 auto;
    transform: translate(0px, -33px);
    z-index: -1;
}

.cards {
    width: 600px;
    margin: 20px auto 0 auto;
}

.create, .play {
    height: 220px;
    font-size: larger;
    padding: 25px;
}

.create {
    margin-right: 4%;
    background-color: rgb(150,71,254);
    color: white;
    opacity: 1;
}

.play {
    background-color: rgba(150,71,254, 0.2);
}

.play button {
    background-color: white;
    color: rgb(150,71,254);
}

.create button {
    background-color: rgb(225, 202, 255);
    color: black;
}

.btn-home {
    border-radius: 10px;
    margin: 0 auto;
    width: 90px;
    height: 40px;
    line-height: 0px;
    border: 0px;
    font-weight: bold;
}

.no-account {
    padding: 25px;
}

.btn-purple-bg, .btn-white-bg{
    border-radius: 5px;
    margin: 0 auto;
    width: 120px;
    height: 30px;
    line-height: 0px;
    border: 0px;
    font-weight: bold; 
}

.btn-purple-bg{ 
    background-color: rgb(150,71,254);
    color: white;
}

.btn-purple-bg:hover, .btn-white-bg:hover{
    background-color: rgb(225, 202, 255);
    color: white;
}

.btn-white-bg{ 
    background-color: white;
    color: rgb(150,71,254);
}

.crd-purple-bg{
    background-color: rgb(150,71,254);
    color: white;
}

.lobby{
    height: auto;
}

.crd-light-bg {
    background-color: rgb(225, 202, 255);
    color: #313131;
    font-weight: bold; 
    margin: 20px 5px;
}

.user-list{
    width: 220px;
    margin: 20px 0 20px 20px;
}

.btn-dropdown-white-bg {
    border-radius: 5px;
    width: 180px;
    height: 30px;
    line-height: 0px;
    border: 0px;
    font-weight: bold; 
    background-color: white;
    color: rgb(150,71,254);
}

.chat-lobby{
    height: 500;
}

.exploding-time, .interfix-length{
    margin: auto 0;
}

.alphabet-lobby, .topics{
    margin: 10px auto;
}

.crd-thin{
    height: 45px;
}

.crd-alphabet-lobby{
    height: 175px;
}

.crd-topics{
    height: 150px;
}

.lobby{
    width: 1200px;
}

.row-player{
    margin-top: 20px;
    font-size: medium;
}

.lobby-player-avatar{
    width: 50px;
    height: 50px;
}

.lobby-player-name{
    margin: auto 0;
}

.chat-msg{
    margin: 10px 0 20px 0;
    background-color: rgb(245, 239, 255);
    color : black;
    font-weight: normal;
    padding : 0;
}

.chat-text{
    margin: 5px;
}

#chat-textarea {
    position: absolute;
    bottom: 0;
}

#lobby {
    position: relative;
    padding-bottom: 200px;
}

.chat-textarea{
    border-radius: 20px;
    height: 50px;
    width: 450px;
    margin: 10px 0;
}

.btn-small{
    width: 27px;
    height: 27px;
    border-radius: 20px;
    background-color: rgb(150,71,254);
    color: white;
    border-width: 0;
    display: inline;
    margin: 5px 7px;
    font-weight: bold;
}

.btn-topic{
    height: 27px;
    border-radius: 20px;
    background-color: rgb(150,71,254);
    color: white;
    border-width: 0;
    display: inline;
    margin: 5px 0;
    font-weight: bold;
}

.btn-topic-plus{
    height: 27px;
    border-radius: 20px;
    background-color: white;
    color: rgb(150,71,254);
    border-width: 0;
    display: inline;
    margin: 5px 0;
    font-weight: bold;
}

.topics-mg {
    margin-left: 5px;
}