/* usa este fichero para personalizar tus vistas */

.iwthumb {
    height: 32px;
    width: 32px;
}

.errTable tr>td:first-child {
    min-width: 200px;
    max-width: 200px;
    word-break: break-all;
    font-weight: bold;
    color: gray;
}

.errTable td {
    vertical-align: top;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
}

img.preview {
    object-fit: cover;
    width: 10%;
    height: 100px;
    border-radius: 10px;
}

/* MODIFICACIÓNES AQUÍ ABAJO */

h1 {
    font-size: 50px;
}

a {
    text-decoration: none;
    color: rgb(150,71,254);
    font-weight: bold;
}

a:hover {
    color: rgb(150,71,254);
}

a:visited {
    color: rgb(150,71,254);
}

.body-style {
    background-color: rgb(249, 243, 255);
}

.header-underline {
    width: 330px;
    height: 25px;
    border-radius: 7px;
    background-color: rgba(150,71,254, 0.2);
    position: relative;
    margin: 0 auto;
    transform: translate(0px, -33px);
    z-index: -1;
}

.cards {
    width: 600px;
    margin: 20px auto 0 auto;
}

.create, .play {
    height: 220px;
    font-size: larger;
    padding: 25px;
}

.create {
    margin-right: 4%;
    background-color: rgb(150,71,254);
    color: white;
    opacity: 1;
}

.play {
    background-color: rgba(150,71,254, 0.2);
}

.play button {
    background-color: white;
    color: rgb(150,71,254);
}

.create button {
    background-color: rgb(225, 202, 255);
    color: black;
}

.btn-home {
    border-radius: 10px;
    margin: 0 auto;
    width: 90px;
    height: 40px;
    line-height: 0px;
    border: 0px;
    font-weight: bold;
}

.no-account {
    padding: 25px;
}

.btn-purple-bg, .btn-white-bg {
    border-radius: 5px;
    margin: 0 auto;
    width: 120px;
    height: 30px;
    line-height: 0px;
    border: 0px;
    font-weight: bold; 
}

.btn-purple-bg { 
    background-color: rgb(150,71,254);
    color: white;
}

.btn-purple-bg:hover, .btn-white-bg:hover {
    background-color: rgb(225, 202, 255);
    color: white;
}

.btn-white-bg { 
    background-color: white;
    color: rgb(150,71,254);
}

.crd-purple-bg {
    background-color: rgb(150,71,254);
    color: white;
}

.lobby {
    position: relative;
    padding-bottom: 200px;
}

.crd-light-bg {
    background-color: rgb(225, 202, 255);
    color: #313131;
    font-weight: bold; 
    margin: 20px 5px;
}

.user-list {
    width: 220px;
    margin: 20px 0 20px 20px;
}

.btn-dropdown-white-bg {
    border-radius: 5px;
    width: 180px;
    height: 30px;
    line-height: 0px;
    border: 0px;
    font-weight: bold; 
    background-color: white;
    color: rgb(150,71,254);
}

.chat-lobby {
    height: 500px;
}

.exploding-time, .interfix-length {
    margin: auto 0;
}

.alphabet, .topics {
    margin: 10px auto;
}

.crd-thin {
    height: 45px;
}

.crd-alphabet-lobby {
    height: 175px;
}

.crd-topics {
    height: 100px;
}

.row-player {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: medium;
}

.lobby-player-avatar {
    width: 50px;
    height: 50px;
}

.lobby-player-name {
    margin: auto 0;
}

.chat-msg {
    margin: 10px 0 20px 0;
    background-color: rgb(245, 239, 255);
    color : black;
    font-weight: normal;
    padding : 0;
}

.chat-text {
    margin: 5px;
}

#chat-textarea {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.chat-textarea {
    border-radius: 20px;
    height: 50px;
    margin: 10px 0;
}

.btn-small {
    width: 27px;
    height: 27px;
    border-radius: 20px;
    background-color: rgb(150,71,254);
    color: white;
    border-width: 0;
    display: inline;
    margin: 5px 7px;
    font-weight: bold;
}

.btn-topic {
    height: 27px;
    border-radius: 20px;
    background-color: rgb(150,71,254);
    color: white;
    border-width: 0;
    display: inline;
    margin: 5px 0;
    font-weight: bold;
}

.btn-topic-plus {
    height: 27px;
    border-radius: 20px;
    background-color: white;
    color: rgb(150,71,254);
    border-width: 0;
    display: inline;
    margin: 5px 0;
    font-weight: bold;
}

.topics-mg {
    margin-left: 5px;
}

.center-inside-div {
    margin: 0px;
    position: relative;
    top: 50%;
    transform: translate(0,-50%);
    text-align: center;
}

.lives {
    display: flex;
}

.lives-text h3 {
    margin-right: 15px;
    color: rgb(150,71,254);
    font-weight: bold;
}

.lives-counter {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: rgb(150,71,254);
}

.lives-counter p {
    color: white;
    font-weight: bold;
    font-size: x-large;
}

.crd-alphabet-game {
    width: 280px;
    height: 240px;
    margin: 20px auto 0 auto;
}

.correct-words {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.correct-words-text {
    margin: 20px 0 0 0;
}

.correct-words-text h4{
    color: rgb(150,71,254);
    font-weight: bold;
}

.correct-words-number {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    background-color: rgb(150,71,254);
}

.correct-words-number p {
    color: white;
    font-weight: bold;
    font-size: x-large;
}

.game {
    background-color: rgb(150,71,254);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.game-info {
    margin: 20px 20px 20px 0px;
}

.window {
    height: auto;
    width: 1200px;
}

.user-list-game {
    width: 220px;
    margin-left: 20px;
    border-radius: 5px;
}

.current-turn {
    background-color: rgb(225, 202, 255);
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
}

.game-input {
    margin-top: 20px;
}

.interfix {
    color: white;
    font-weight: bold;
    text-decoration-line: underline;
    text-underline-offset: 10px;
    
}

.interfix.playing {
    font-size: 70px;
    margin: 70px 20px 120px auto;
}

.interfix.observing {
    font-size: 50px;
    margin: 19px 20px 50px auto;
}

.canvas {
    width: 130px;
    margin: 0 auto;
}

.mt-custom {
    margin-top: 84px;
}

.bystander-info {
    width: 400px;
    margin: 0;
    
}

.bystander-info p {
    color: white;
}

.lasting-lives {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: rgb(225, 202, 255);
    position: relative;
    margin: 0 auto;
    transform: translate(100px, -60px);
}

.guessed-words {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: rgb(225, 202, 255);
    position: relative;
    margin: 0 auto;
    transform: translate(100px, -60px);
}

.lasting-lives p, .guessed-words p {
    font-weight: bold;
    font-size: x-large;
}

.observing-player {
    margin: 0;
    margin-top: 20px;
    color: white;
    font-size: xx-large;
    font-weight: bold;
}

.btn-profile-img {
    width: 150px;
    height: 150px;
    background-color: #ffe8a3;
    border-radius: 100px;
    border-width: 0;
    font-size: larger;
}

.last-conection {
    color: rgb(103, 103, 103);
    margin-top: 20px;
    font-weight: bold;
}

.profile-info{
    margin-left: 10px;
}

.table-statistics{
    border-width: 5px;
    border-color: rgb(150,71,254);
    padding: 0;
}

.statistics-head {
    font-weight: bold;
    background-color: rgb(225, 202, 255);
    height: 50px;
}

table{
    table-layout: fixed;
    width: 200px;
}

.statistics-label{
    font-weight: bold;
    font-size: larger;
    color: white;
    background-color: rgb(150,71,254);
    border-radius: 5px;
    width: 350px;
    height: 30px;
    margin-left: auto;
}

.winner-card{
    height: 480px;
    background-color: rgb(150,71,254);
    color: white;
}

.winner-photo{
    width: 200px;
    height: 200px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 90px;
}

.winner-position{
    margin-left: 20px;
    margin-top: 20px;
}

.winner-stats{
    background-color: rgb(225, 202, 255);
    color: black;
    margin: 20px;
    padding: 20px;
}

.white-purple-stat{
    color: rgb(150,71,254);
    background-color: white;
    border-radius: 10px;
    width: 100px;
}

.not-winners {
    margin: auto;
}

.second-player-card {
    background-color: rgb(150,71,254);
    color: white;
    border-width: 0;
}

.third-player-card{
    background-color: rgb(150,71,254);
    color: white;
    border-width: 0;
    margin-left: 40px;
    margin-top: 20px;
}

.fourth-player-card{
    background-color: rgb(150,71,254);
    color: white;
    border-width: 0;
    margin-left: 80px;
    margin-top: 20px;
}

.fifth-player-card{
    background-color: rgb(150,71,254);
    color: white;
    border-width: 0;
    margin-left: 120px;
    margin-top: 20px;
}

.mini-card-purple {
    background-color: rgb(225, 202, 255);
    color: rgb(150,71,254);
    padding: 20px 25px;
    border-width: 0;
}

.mini-card-grey{
    background-color: rgb(224, 224, 224);
    color: rgb(150,71,254);
    padding: 20px 25px;
    border-width: 0;
}

.summ-center-player{
    margin: auto 0;
}

.btn-admin {
    margin: 20px auto 0 auto;
}

.btn-admin button {
    width: 240px;
    height: 80px;
    margin-left: 125px;
}

.btn-deban {
    background-color: rgb(174,245,198);
    
}

.btn-ban {
    background-color: rgb(255,199,194);
}

.btn-more {
    background-color: rgb(204,204,204);
}

.register {
    width: 1000px;
    height: 500px;
}

.outer-register-card{
    background-color: rgb(225, 202, 255);
    color: black;
    border-width: 0;
}

.intra-register-card{
    background-color: rgb(150,71,254);
    color: black;
    padding: 20px;
    border-width: 0;
    margin: 0;
}

.register-form{
    padding: 20px;
    margin:auto;
}

.btn-avatar-img{
    width: 150px;
    height: 150px;
    background-color: #ffe8a3;
    border-radius: 100px;
    border-width: 0;
    font-size: larger;
    margin: auto;
}

.btn-mini-avatar-yellow{
    width: 50px;
    height: 50px;
    background-color: #ffe8a3;
    border-radius: 100px;
    border-width: 0;
    font-size: larger;
    margin: 20px;
}

.btn-mini-avatar-green{
    width: 50px;
    height: 50px;
    background-color: #aff4c6;
    border-radius: 100px;
    border-width: 0;
    font-size: larger;
    margin: 20px;
}

.btn-mini-avatar-blue{
    width: 50px;
    height: 50px;
    background-color: #bde3ff;
    border-radius: 100px;
    border-width: 0;
    font-size: larger;
    margin: 20px;
}

.btn-mini-avatar-purple{
    width: 50px;
    height: 50px;
    background-color: rgb(225, 202, 255);
    border-radius: 100px;
    border-width: 0;
    font-size: larger;
    margin: 20px;
}

.btn-mini-avatar-orange{
    width: 50px;
    height: 50px;
    background-color: #fcd19c;
    border-radius: 100px;
    border-width: 0;
    font-size: larger;
    margin: 20px;
}

.btn-mini-avatar-pink{
    width: 50px;
    height: 50px;
    background-color: #ffc7c2;
    border-radius: 100px;
    border-width: 0;
    font-size: larger;
    margin: 20px;
}

.register-input{
    background-color: rgb(243, 234, 255);
    color: black;
    border-radius: 10px;
    height: 30px;
    width: 200px;
    margin: auto;
}

.btn-form {
    background-color: rgb(150,71,254);
    color:white;
    border-radius: 10px;
    border-width: 0;
    height: 40px;
    width: 200px;
    font-size: larger;
    font-weight: bold;
}

.register-login-msg{
    margin: 20px auto 10px auto;
}

.login-card{
    width: 500px;
    background-color: rgb(225, 202, 255);
    padding: 20px;
    border-width: 0;
    margin: auto;
}

.report-game {
    height: 50px;
    
}

.report-game p {
    margin-top: 12px;
}

.admin-window{
    width: 1000px;
}

.report-stats {
    background-color: rgb(225, 202, 255);
    color: #313131;
    font-weight: bold; 
    margin: 40px;
    border-radius: 10px;
}

.even-lighter-cards{
    margin: 40px 40px 60px 40px;
}

.even-lighter-crd{
    background-color: rgb(244, 235, 255);
    margin: 20px;
    font-size: x-large;
    padding: 30px;
    border-radius: 10px;
}

.white-purple-report-stats{
    color: rgb(150,71,254);
    background-color: white;
    border-radius: 10px;
    width: 150px;
}

.mt-btn {
    margin-top: 50px;
}

.link-last{
    color: rgb(150,71,254);
    font-size: medium;
}

.start {
    height: 50px;
    font-size: large;
}