<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="fragments/head :: header" />
    <title>Administración</title>
</head>

<body class="d-flex flex-column h-100 body-style">
    <header th:replace="fragments/nav.html :: nav"></header>

    <main class="flex-shrink-0">
        <div class="container">
            <h2 class="mt-4 mb-5 text-center"><b>LISTA DE PERFILES DENUNCIADOS</b></h2>
        </div>
        <div class="container card crd-purple-bg admin-window">
            <div class="row">
                <div class="col-md-auto user-list">
                    <div class="row btn-group">
                        <button type="button" class="btn-dropdown-white-bg" data-bs-toggle="dropdown" aria-expanded="false">
                            <span th:text="${#lists.size(reportedUsers)}">0</span> PERFILES
                        </button>
                    </div>

                    <div class="row row-player" th:each="user:${reportedUsers}" th:onclick="|selectReportedUser('${user.id}', '${user.numgames}')|">
                        <div class="col-md-auto">
                            <img class="rounded-circle lobby-player-avatar" th:src="@{'/img/pale_'+ ${user.imgcolor} +'.png'}">
                        </div>
                        <div class="col-md-auto lobby-player-name">
                            <p class="lobby-player-name">@<span th:text="${user.username}">username</span></p>
                        </div>
                    </div>
                </div>
                <div id="games-card" class="col card report-stats">
                </div>
            </div>
        </div>
    </main>

    <script th:src="@{/js/admin.js}"></script>
    <th:block th:replace="fragments/footer.html :: footer" />
</body>

</html>