<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="fragments/head :: header" />
    <!--<script type="text/javascript" th:src="@{/js/timer.js}"></script>-->
    <title>IW: Game</title>
</head>

<body class="d-flex flex-column h-100 body-style">
    <header th:replace="fragments/nav.html :: nav"></header>

    <main class="flex-shrink-0">
        <div class="container window">
            <h2 class="mt-4"><b>PARTIDA #<span th:text="${game.id}">2318</span></b></h2>
                <div class="row">
                    <div class="col-5"></div>
                    <div class="col lives">
                        <div class="lives-text"><h3 class="center-inside-div">Vidas restantes: </h3></div>
                        <div class="lives-counter center-inside-div"><p th:text="${game.currPlayer.lives}" class="center-inside-div">3</p></div>    
                    </div>
                    <div class="col-md-auto">
                        <span id="timer" class="timer" th:text="${game.explodingTime}"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-3 game-info">
                        <div class="row">
                            <div class="card crd-light-bg crd-alphabet-game">
                                <div class="row">
                                    <p class="alphabet text-center">ABECEDARIO A COMPLETAR</p>
                                </div>
                                <div id = "alphabet-btns" class="d-flex row text-center">
                                    <p>
                                        <button class="btn-small text-center" th:each="l:${game.currPlayer.alphabet}" th:id="${l.letter}">
                                            <span th:if="${l.b}" th:text="${l.letter}">B</span>
                                            <span th:unless="${l.b}"> </span>
                                        </button>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col correct-words">
                                <div class="correct-words-text"><h4 class="center-inside-div">PALABRAS CORRECTAS</h4></div>
                                <div class="correct-words-number center-inside-div"><p class="center-inside-div" th:text="${game.currPlayer.rounds}">13</p></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 game text-center">
                        <div class="d-flex flex-row text-center">
                            <p id="interfix" class="p-2 text-center interfix playing" th:text="${game.interfix}">interfijo</p>
                        </div>
                        <div class="game-input">
                            <input th:if="${game.currPlayer.user.id == session.u.id}" id="word" type="text" class="form-control input-textarea" placeholder="Escribe aquí lo que quieras...">
                        </div>
                    </div>
                    <div class="col user-list-game crd-purple-bg">
                        <div class="row row-player current-turn" th:each="player:${game.players}" th:if="${game.currPlayer.id == player.id}">
                            <div class="col-md-auto">
                                <img class="rounded-circle lobby-player-avatar" th:src="@{/img/pale_yellow.png}">
                            </div>

                            <div class="col-md-auto lobby-player-name">
                                <p th:if="${player.lives} le 0" class="lobby-player-name">@<span th:text="${player.user.username}">0</span> 💀</p>
                                <p th:unless="${player.lives} le 0" class="lobby-player-name">@<span th:text="${player.user.username}">0</span></p>
                            </div>
                        </div>
                        <div class="row row-player" th:each="player:${game.players}" th:unless="${game.currPlayer.id == player.id}">
                            <div class="col-md-auto">
                                <img class="rounded-circle lobby-player-avatar" th:src="@{/img/pale_yellow.png}">
                            </div>

                            <div class="col-md-auto lobby-player-name">
                                <p th:if="${player.lives} le 0" class="lobby-player-name">@<span th:text="${player.user.username}">0</span> 💀</p>
                                <p th:unless="${player.lives} le 0" class="lobby-player-name">@<span th:text="${player.user.username}">0</span></p>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </main>

    <script th:src="@{/js/game.js}"></script>

    <script>
        config.topicCode = "[['/topic/'+${game.topicCode}]]";
        config.startUrl = "[['/game/'+${game.id}]]";
    </script>

    <th:block th:replace="fragments/footer.html :: footer" />

    <script>
        const prevHandler = ws.receive;
        ws.receive = (x) => {
            if (x.type && x.type === "CORRECT") {
                location.href = config.startUrl;
                $("#interfix").reload(location.href + " #interfix");
            }
            else if (x.type && x.type === "INCORRECT") {
                location.href = config.startUrl;
                $("#interfix").reload(location.href + " #interfix");
            }
            console.log("hola mundo");
            prevHandler(x);
        }
    </script>
</body>

</html>