<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="fragments/head :: header" />
    <title>IW: Welcome</title>
</head>

<body class="d-flex flex-column h-100 body-style">
    <header th:replace="fragments/nav.html :: nav"></header>

    <main class="flex-shrink-0">
        <div class="container">
            <h1 class="mt-4 text-center">LA B💣MBA</h1>
            <div class="header-underline"></div>
        </div>
        <div class="container">
            <div class="row text-center cards">
                <div class="col create card">
                    <p class="card-text">Crea una partida para jugar con tus amigos</p>
                    <form th:action="@{/lobby/new}" method="post">
                        <button class="btn-home" name="create" type="submit">CREAR</button>
                    </form>
                </div>
                <div class="col play card">
                    <p class="card-text">Únete a las partidas de otros jugadores</p>
                    <form th:action="@{/join}" method="get">
                        <button class="btn-home" type="submit" name="play">JUGAR</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="container text-center no-account">
            <span>¿Quieres guardar tus estadísticas?
            <a th:href="@{login}">Inicia sesión</a> 
            <a th:href="@{register}">Regístrate</a>.</span>
        </div>
    </main>

    <th:block th:replace="fragments/footer.html :: footer" />
</body>

</html>