<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="fragments/head :: header" />
    <title>IW: Lobby</title>
</head>

<body class="d-flex flex-column h-100 body-style">
    <header th:replace="fragments/nav.html :: nav"></header>

    <main class="flex-shrink-0">
        <div class="container window">
            <h2 class="mt-4"><b>PARTIDA #<span th:text="${game.id}">0</span></b></h2>
            <div class="row">
                <div class="col">
                    <h3>Creado por <b>@<span th:text="${game.creator.user.username}">misgüel</span></b></h3>    
                </div>
                <div class="col-md-auto">
                    <button class="btn-purple-bg">PRIVADA</button>
                    <button class="btn-white-bg">PÚBLICA</button>
                </div>
            </div>
        </div>
        <div class="container card crd-purple-bg window">
            <div class="row">
                <div class="col-md-auto user-list">
                    <div class="row">
                        <select class="mb-3 btn-dropdown-white-bg" id="num-players" onchange="selectNumPlayers()">
                            <option class="dropdown-item" value="2">2 jugadores</option>
                            <option class="dropdown-item" value="3">3 jugadores</option>
                            <option class="dropdown-item" value="4">4 jugadores</option>
                            <option class="dropdown-item" value="5">5 jugadores</option>
                            <option class="dropdown-item" value="6">6 jugadores</option>
                            <option class="dropdown-item" value="7">7 jugadores</option>
                            <option class="dropdown-item" value="8">8 jugadores</option>
                        </select>
                    </div>
                    <div class="row row-player" th:each="player:${game.players}">
                        <div class="col-md-auto">
                            <img class="rounded-circle lobby-player-avatar" th:src="@{/img/pale_yellow.png}">
                        </div>
                        <div class="col-md-auto lobby-player-name">
                            <p class="lobby-player-name">@<span th:text="${player.user.username}">0</span></p>
                        </div>
                    </div>
                </div>
                <div class="col card crd-light-bg lobby chat-lobby">
                    <div class="card crd-lighter-bg chat-msg">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-auto">
                                    <img class="rounded-circle lobby-player-avatar" th:src="@{/img/pale_yellow.png}">
                                </div>
                                <div class="col">
                                    <p class="chat-text">@elena</p>
                                    <p class="chat-text">Podemos poner 30s?</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" id="chat-textarea">
                        <form>
                            <input type="text" class="form-control chat-textarea disabled" placeholder="Escribe aquí lo que quieras...">
                        </form>
                    </div>
                </div>
                <div class="col">
                    <div class="row card crd-light-bg crd-thin">
                        <div class="col-md-auto exploding-time"> 
                            <p class="exploding-time">TIEMPO DE EXPLOSIÓN</p>
                        </div>
                        <div class="col-md-auto exploding-time">
                            <select class="btn-dropdown-white-bg" id="exploding-time" onchange="selectExplodingTime()">
                                <option class="dropdown-item" value="30">30 segundos</option>
                                <option class="dropdown-item" value="40">40 segundos</option>
                                <option class="dropdown-item" value="50">50 segundos</option>
                                <option class="dropdown-item" value="60">60 segundos</option>
                            </select>
                        </div>
                    </div>
                    <div class="row card crd-light-bg crd-thin">
                        <div class="col-md-auto interfix-length"> 
                            <p class="interfix-length">TAMAÑO INTERFIJO</p>
                        </div>
                        <div class="col-md-auto interfix-length">
                            <select class="btn-dropdown-white-bg" id="ifx-length" onchange="selectIfxLength()">
                                <option class="dropdown-item" value="2">2 letras</option>
                                <option class="dropdown-item" value="3">3 letras</option>
                                <option class="dropdown-item" value="4">4 letras</option>
                            </select>
                        </div>
                    </div>
                    <div class="card crd-light-bg crd-alphabet-lobby">
                        <div class="row">
                            <p class="alphabet text-center">ABECEDARIO A COMPLETAR</p>
                        </div>
                        <div id = "alphabet-btns" class="d-flex row text-center">
                            <p><button class="btn-small text-center" th:each="l:${game.alphabet}" th:id="${l.letter}" th:text="${l.letter}">B</button></p>
                        </div>
                    </div>
                    <div class="card crd-light-bg crd-topics">
                        <div class="row">
                            <p class="topics text-center">TEMÁTICAS</p>
                        </div>
                        <div id = "topics-btns" class="d-flex row topics-mg">
                            <p><button class="btn-topic text-center" th:each="t:${game.topics}" th:id="${t.topic}" th:text="${t.topic}">Verbos</button></p>
                        </div>
                    </div>
                    <div class="row">
                        <button class="btn-white-bg start">¡EMPEZAR!</button>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <script th:src="@{/js/lobby.js}"></script>

    <th:block th:replace="fragments/footer.html :: footer" />
</body>

</html>