<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="fragments/head :: header" />
    <title>IW: Lobby</title>
</head>

<body class="d-flex flex-column h-100 body-style">
    <header th:replace="fragments/nav.html :: nav"></header>

    <main class="flex-shrink-0">
        <div class="container window">
            <h2 class="mt-4"><b>PARTIDA #2318</b></h2>
            <div class="row">
                <div class="col">
                    <h3>Creado por <b>@erik</b></h3>    
                </div>
                <div class="col-md-auto">
                    <button class="btn-purple-bg">PRIVADA</button>
                    <button class="btn-white-bg">PÚBLICA</button>
                </div>
            </div>
        </div>
        <div class="container card crd-purple-bg window">
            <div class="row">
                <div class="col-md-auto user-list">
                    <div class="row btn-group">
                        <button type="button" class="btn-dropdown-white-bg dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                          6 JUGADORES
                        </button>
                        <ul class="dropdown-menu">
                            <li>6 jugadores</li>
                        </ul>
                    </div>
                    <div class="row row-player">
                        <div class="col-md-auto">
                            <img class="rounded-circle lobby-player-avatar" th:src="@{img/pale_yellow.png}">
                        </div>
                        <div class="col-md-auto lobby-player-name">
                            <p class="lobby-player-name">@elena</p>
                        </div>
                    </div>
                    <div class="row row-player">
                        <div class="col-md-auto">
                            <img class="rounded-circle lobby-player-avatar" th:src="@{img/pale_pink.png}">
                        </div>
                        <div class="col-md-auto lobby-player-name">
                            <p class="lobby-player-name">@ainhoa</p>
                        </div>
                    </div>
                    <div class="row row-player">
                        <div class="col-md-auto">
                            <img class="rounded-circle lobby-player-avatar" th:src="@{img/pale_green.png}">
                        </div>
                        <div class="col-md-auto lobby-player-name">
                            <p class="lobby-player-name">@fran</p>
                        </div>
                    </div>
                    <div class="row row-player">
                        <div class="col-md-auto">
                            <img class="rounded-circle lobby-player-avatar" th:src="@{img/pale_blue.png}">
                        </div>
                        <div class="col-md-auto lobby-player-name">
                            <p class="lobby-player-name">@manuela</p>
                        </div>
                    </div>
                    <div class="row row-player">
                        <div class="col-md-auto">
                            <img class="rounded-circle lobby-player-avatar" th:src="@{img/pale_orange.png}">
                        </div>
                        <div class="col-md-auto lobby-player-name">
                            <p class="lobby-player-name">@julia</p>
                        </div>
                    </div>
                    <div class="row row-player">
                        <div class="col-md-auto">
                            <img class="rounded-circle lobby-player-avatar" th:src="@{img/pale_purple.png}">
                        </div>
                        <div class="col-md-auto lobby-player-name">
                            <p class="lobby-player-name">@erik</p>
                        </div>
                    </div>
                </div>
                <div class="col card crd-light-bg lobby chat-lobby">
                    <div class="card crd-lighter-bg chat-msg">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-auto">
                                    <img class="rounded-circle lobby-player-avatar" th:src="@{img/pale_yellow.png}">
                                </div>
                                <div class="col">
                                    <p class="chat-text">@elena</p>
                                    <p class="chat-text">Podemos poner 30s?</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="chat-textarea" class="d-flex">
                        <form>
                            <input type="text" class="form-control chat-textarea" placeholder="Escribe aquí lo que quieras...">
                        </form>
                    </div>
                </div>
                <div class="col">
                    <div class="row card crd-light-bg crd-thin">
                        <div class="col-md-auto exploding-time"> 
                            <p class="exploding-time">TIEMPO DE EXPLOSIÓN</p>
                        </div>
                        <div class="col-md-auto exploding-time">
                            <div class="btn-group">
                                <button type="button" class="dropdown-toggle btn-dropdown-white-bg" data-bs-toggle="dropdown" aria-expanded="false">
                                  20 segundos
                                </button>
                                <ul class="dropdown-menu">
                                    <li>20 segundos</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="row card crd-light-bg crd-thin">
                        <div class="col-md-auto interfix-length"> 
                            <p class="interfix-length">TAMAÑO INTERFIJO</p>
                        </div>
                        <div class="col-md-auto interfix-length">
                            <div class="btn-group">
                                <button type="button" class="dropdown-toggle btn-dropdown-white-bg" data-bs-toggle="dropdown" aria-expanded="false">
                                  3 letras
                                </button>
                                <ul class="dropdown-menu">
                                    <li>3 letras</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="card crd-light-bg crd-alphabet-lobby">
                        <div class="row">
                            <p class="alphabet text-center">ABECEDARIO A COMPLETAR</p>
                        </div>
                        <div class="d-flex row text-center">
                            <p><button class="btn-small text-center" th:each="letter:${alphabet}" th:text="${letter}">A</button></p>
                        </div>
                    </div>
                    <div class="card crd-light-bg crd-topics">
                        <div class="row">
                            <p class="topics text-center">TEMÁTICAS</p>
                        </div>
                        <div class="d-flex row topics-mg">
                            <p><button class="btn-topic text-center" th:each="topic:${selected_topics}" th:text="${topic}">Verbos</button>
                                <button class="btn-topic-plus text-center">+</button></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <th:block th:replace="fragments/footer.html :: footer" />
</body>

</html>