<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="fragments/head :: header" />
    <title>Perfil</title>
</head>

<body class="d-flex flex-column h-100 body-style">
    <header th:replace="fragments/nav.html :: nav"></header>

    <main class="flex-shrink-0">
        <div class="container window">
            <div class = "row mt-4">
                <div class = "col-md-auto">
                    <img class="rounded-circle profile-avatar" th:src="@{'/img/pale_'+ ${session.u.imgcolor} +'.png'}">
                </div>
                <div class = "col profile-info">
                    <h2>@<b><span th:text="${session.u.username}">username</span></b></h2>
                </div>
            </div>
            <div class = "row">
                <div class = "text-center statistics-label">HISTÓRICO DE PARTIDAS</div>
                <div class = "card table-statistics">
                    <table class="table table-borderless text-center">
                        <thead class="statistics-head">
                            <tr>
                              <th scope="col" th:each="col:${columns}" th:text="${col}">Default</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr th:each="player:${players}">
                              <td th:text="${player.game.id}">code</td>
                              <td th:text="${player.rank}">rank</td>
                              <td th:text="${#lists.size(player.game.players)}">2</td>
                              <td th:text="${player.rounds}">0</td>
                            </tr>
                          </tbody>
                    </table>
                </div>
            </div>
        </div>
    </main>

    <th:block th:replace="fragments/footer.html :: footer" />
</body>

</html>