<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="fragments/head :: header" />
    <title>Administración</title>
</head>

<body class="d-flex flex-column h-100 body-style">
    <header th:replace="fragments/nav.html :: nav"></header>

    <main class="flex-shrink-0">
        <div class="container window">
            <h2 class="mt-4 mb-5 text-center"><b>PARTIDAS JUGADAS</b></h2>
        </div>
        <div class="container card crd-purple-bg window">
            <div class="col card crd-light-bg chat-lobby">
                <div id ="chat-scroll" class="chat-scroll">
                    <div th:each="msg:${messages}" class="card crd-lighter-bg chat-msg">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-auto">
                                    <img class="rounded-circle lobby-player-avatar" th:src="@{'/img/pale_'+ ${msg.sender.imgcolor} +'.png'}">
                                </div>
                                <div class="col">
                                    <p class="chat-text">@<span th:text="${msg.sender.username}">elena</span></p>
                                    <p class="chat-text" th:text="${msg.text}">Podemos poner 30s?</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="btn-admin">
                            <button class="btn btn-deban text-center">Desbloquear</button>
                            <button class="btn btn-ban text-center">Bloquear permanentemente</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <th:block th:replace="fragments/footer.html :: footer" />
</body>

</html>